@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 235, 235);
}

header {
    width: 100%;
    height: 90px;    
    background-color: rgba(0, 119, 179, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px #6363638a;
    font-family: 'Poppins',sans-serif;
}

.left {
    width: 217px;
    height: 100%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
}

.busca {
    width: 50%;
    height: 45px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    position: relative;
}

.busca .searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 12px;
}

.meuProduto {
    width: 271px;
    height: 100%;    
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.shopIcon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.meuProduto a {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.meuProduto a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.meuProduto a:hover::after {
    transform: scaleX(1);
}

.shopIcon img {
    width: 40px;
    height: 40px;
}

.campoBuscar {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: rgb(46, 46, 46);
    border: none;
}

header input::placeholder {
    position: absolute;
    font-family: 'Roboto';
    font-size: 20px;
    color: rgba(128, 128, 128, 0.5);
    top: 11px;
    left: 18px;
}

main {
    display: flex;
    margin: 71px;
}

.filtro {    
    width: 304px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
}

.filtro .tipo, .modelo {
    width: 294px;
    height: 68px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
  
.check label {
    padding-left: 10px;
    cursor: pointer;
}
  
.checkbox {
    cursor: pointer;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 3px solid #808080;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}
  
.checkbox:before {
    content: '';
    width: 7px;
    height: 12px;
    background: transparent;
    opacity: 0;
    transition: all 200ms ease-in-out;
    position: absolute;
    border: 4px solid #0077B3;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    bottom: 3px;
}
  
.checkbox:checked:before {
    opacity: 1;
}

.listagem {
    background-color: rgb(46, 151, 151);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.nome-produto {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo  {
    max-width: 200px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
}

.nome {
    background-color: #0077B3;
}