<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../css/produtos.css">
    <title>Produtos</title>
</head>
<body>
    <div id="app" class="page-container">
        <header>
            <div class="left">
                <a href="../index.html"><img src="../img/logo-transparente.png" alt="imagem logo"></a>
            </div>
            <div class="busca">
                <input class="campoBuscar" type="text" placeholder="Buscar produto">
                <img class="searchIcon" src="../assets/search.png" alt="">
            </div>
            <div class="meuProduto">
                <a href="#">Meu Produto</a>            
            </div>
            <div class="shopIcon">
                <img src="../assets/shopping-cart.png" alt=""> 
            </div>
        </header>
        <main>
            <div class="filtro">
                <h3 class="tipo"> Tipo do produto </h3>
                <div class="check" v-for="filter in filters">
                    <input class="checkbox" :id="filter.nome" type="checkbox"> 
                    <label :for="filter.nome" >{{ filter.nome }}</label>
                </div>
       
                <h3 class="modelo"> Modelo </h3> 
                <div class="check" v-for="produto in produtos">
                    <input class="checkbox" :id="produto.nome" type="checkbox">
                    <label :for="produto.nome">{{ produto.nome }}</label>
                </div> 
            </div>
            
            <div class="listagem">                
                <section class="nome-listagem">
                    <h3>Smart Ventiladores</h3>
                </section>
                <section class="produtos">
                    <div v-for="produto in produtos" class="conteudo">
                        <img class="imagem-produto" :src="produto.img" alt="">
                        <h3 class="nome-produtos">{{ produto.nome }}</h3>
                        <h2 class="preco"><span style="color: #0bc005" >R$ 111,11</span>  à vista</h2>
                        <h3>ou</h3>
                        <h4>5x de R$ 22,22</h4>
                    </div>
                </section>
            </div>
        </main> 
       
        <footer>
            <img src="../img/Logo-transparente.png" alt="">          
            <div>
                <h4>Endereço</h4>
                <h5>R. Irênio Greco, 4580 - Vila Imperador, Franca - SP</h5>
            </div>
            <div>
                <h4>Contatos</h4>
                <h5>(16) 3702-3204</h5>
            </div>
        </footer>
        
        
    </div>
</body>

<script src="../script/produtos.js"></script>

</html>